{% extends "bootstrap/base.html" %}
{% block title %}Flask-MQTT example{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}

<!-- We load in these scripts for SocketIO and Google Charts -->
<!-- Would be nice if could be stored locally to prevent reliance on an external Internet connection -->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" charset="utf-8">

// Variables for Google Chart
var data_table;
var chart;
var options;

$(document).ready(function()
{
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // SocketIO Button click events -> Sends data to python script -> Python script publishes MQTT
    $('#publish').click(function(event)
    {
        var topic = $('#topic').val();
        var message = $('#message').val();
        var qos = $('#qos').val();
        var data = '{"topic": "' + topic + '", "message": "' + message + '", "qos": ' + qos + '}';
        socket.emit('publish', data=data);
    });

    $('#experiment_start').click(function(event)
    {
        var message = $('#message_start').val();
        var name = $('#message_start_name').val();
        var astep = $('#message_start_astep').val();
        var atime = $('#message_start_atime').val();
        var read_band_mode = $('#message_start_read_band_mode').val();
        var color = $('#message_start_color').val();
        var wke_time = $('#message_start_wke_time').val();
        var slp_time = $('#message_start_slp_time').val();
        var data = '{"ID": "' + message + '", "experimentName": "' + name + '", "ASTEP": "' + astep 
                              + '", "ATIME": "' + atime + '", "MODE": "' + read_band_mode + '", "CLR": "' + color + '", "WKE": "' + wke_time + '", "SLP": "' + slp_time +'"}';
        socket.emit('experimentStart', data=data);
    });

    $('#experiment_stop').click(function(event)
    {
        var message = $('#message_stop').val();
        var data = '{"ID": "' + message + '"}';
        socket.emit('experimentStop', data=data);
    });

    $('#subscribe').click(function(event)
    {
        var topic = $('#subscribe_topic').val();
        var qos = $('#subscribe_qos').val();
        var data = '{"topic": "' + topic + '", "qos": ' + qos + '}';
        socket.emit('subscribe', data=data);
        $('#subscribe').hide();
        $('#unsubscribe').show();
        $('#subscribe_topic').prop('readonly', true);
    });

    $('#unsubscribe').click(function(event)
    {
        socket.emit('unsubscribe_all');
        $('#subscribe').show();
        $('#unsubscribe').hide();
        $('#subscribe_topic').prop('readonly', false);
    });

    // Triggers upon receiving an MQTT message
    socket.on('mqtt_message', function(data)
    {
        // Prints the MQTT contents to the subscription text box
        var text = '(' + data['topic'] + ' qos: ' + data['qos'] + ') ' + data['payload'];
        var $textarea = $('#subscribe_messages');
        $textarea.val($textarea.val() + text + '\n');

        // Plots data readings on the Google Chart
        if (!data["topic"].localeCompare("lab/data"))
        {
            var obj = JSON.parse(data["payload"]);
            // This formula calculates basicCounts (value we care about) from sensor readings (raw data)
            var count = obj.readings[6]/(Math.pow(2, obj.gain-1)*0.00278*(obj.atime+1)*(obj.astep+1))
            data_table.addRow([data_table.getNumberOfRows()+1,Number(count)]);
            chart.draw(data_table , options);
        }
    })
});

// Load in Google Charts
google.charts.load('current', {'packages': ['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Formatting of Google Chart
function drawChart()
{
    data_table = new google.visualization.DataTable();
    data_table.addColumn('number', 'time');
    data_table.addColumn('number', 'value');

    options = {
        title: 'Counts',
        hAxis:
        {
            title: 'Seconds',
            titleTextStyle: {color: '#333'},
            slantedText: true,
            slantedTextAngle: 80
        },
        vAxis:
        {
            minValue: 0
        },
        explorer:
        {
            axis: 'horizontal',
            keepInBounds: true,
            maxZoomIn: 4.0
        },
        colors: ['#D44E41'],
    };

    chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data_table , options);
}

</script>
{% endblock %}

{% block content %}
<!-- Google Chart div, disabled for now -->
<div id="chart_div" style="width: 500px; height: 300px;"></div>

<!-- Divs for remainder of webpage cellular elements -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>SmartClamp Webserver</h1>
    </div>
  </div>

    <!-- ExperiemntStart cell -->
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Publish MQTT Control Message on topic lab/control/experimentStart</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                
                <!-- Form Inputs and Buttons -->
                <div class="form-group">
                  <label class="control-label col-xs-4">ID: </label>
                  <div class="col-xs-8">
                    <input id="message_start" class="form-control">
                  </div>
                  <label class="control-label col-xs-4">Experiment Name: </label>
                  <div class="col-xs-8">
                    <input id="message_start_name" class="form-control">
                  </div>
                  <label class="control-label col-xs-4">ATIME: (59)</label>
                  <div class="col-xs-8">
                    <input id="message_start_atime" class="form-control">
                  </div>
                  <label class="control-label col-xs-4">ASTEP: (599)</label>
                  <div class="col-xs-8">
                    <input id="message_start_astep" class="form-control">
                  </div>
                  <label class="control-label col-xs-4">READ_BAND_MODE: (2)</label>
                  <div class="col-xs-8">
                    <input id="message_start_read_band_mode" class="form-control">
                  </div>
                  <label class="control-label col-xs-4">COLOR: (0)</label>
                  <div class="col-xs-8">
                    <input id="message_start_color" class="form-control">
                  </div>
                  <label class="control-label col-xs-4">WAKE TIME: (10)</label>
                  <div class="col-xs-8">
                    <input id="message_start_wke_time" class="form-control">
                  </div>
                  <label class="control-label col-xs-4">SLEEP TIME: (50)</label>
                  <div class="col-xs-8">
                    <input id="message_start_slp_time" class="form-control">
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="col-xs-8 col-xs-offset-4">
                    <button id="experiment_start" class="btn btn-primary">Publish</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- ExperimentStop cell -->
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Publish MQTT Control Message on topic lab/control/experimentStop</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                
                <div class="form-group">
                  <label class="control-label col-xs-4">ID: </label>
                  <div class="col-xs-8">
                    <input id="message_stop" class="form-control">
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="col-xs-8 col-xs-offset-4">
                    <button id="experiment_stop" class="btn btn-primary">Publish</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
    <!-- Subscription cell -->
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Subscribe MQTT Messages</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-xs-4">Topic:</label>
                  <div class="col-xs-8">
                    <input id="subscribe_topic" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-4">Qos: </label>
                  <div class="col-xs-8">
                    <select id="subscribe_qos" class="form-control">
                      <option value=0>0</option>
                      <option value=1>1</option>
                      <option value=2>2</option>
                    </select>
                  </div> 
                </div>
                <div class="form-group">
                  <div class="col-xs-8 col-xs-offset-4">
                    <button id="subscribe" class="btn btn-primary">Subscribe</button>
                    <button id="unsubscribe" class="btn btn-default" style="display: none;" >Unsubscribe</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-4">Messages:</label>
                  <div class="col-xs-8">
                    <textarea id="subscribe_messages" class="form-control" rows=10></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
